<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931680290680-6onbjnqabeff89uml9ljbdu78vkt9226.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931680290680-6onbjnqabeff89uml9ljbdu78vkt9226</string>
	<key>API_KEY</key>
	<string>AIzaSyDUVxlTqLBlnMa_ueTBLf635dblSionIdw</string>
	<key>GCM_SENDER_ID</key>
	<string>931680290680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DeveloperPaul.Emotions</string>
	<key>PROJECT_ID</key>
	<string>emotions-b18e6</string>
	<key>STORAGE_BUCKET</key>
	<string>emotions-b18e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931680290680:ios:98b8d6d853ac207f666a8d</string>
</dict>
</plist>